In [1]:
import pandas as pd
import numpy as np

In [21]:
cliente = pd.read_csv('./Datasets/Clientes.csv', sep=';')
cliente.head()

,ID,Provincia,Nombre_y_Apellido,Domicilio,Telefono,Edad,Localidad,X,Y,col10
0,1,Buenos Aires,HEBER JONI SANTANA,LAS HERAS Y BAT. 24 DE FEBRERO 4150 RINCON DE...,42-5161,58,LOMA VERDE,"-58,81850307","-34,30997088",NaN
1,2,Buenos Aires,ANA SAPRIZA,PUEYRREDON Y DUPUY RUTA3 KM 52.500 S/N BÂº LO...,49-7578,61,SANTA ROSA,"-58,73073751","-34,93908311",NaN
2,3,Buenos Aires,FERNANDO LUIS SARALEGUI,CALDERON DE LA BARCA 498,49-3435,15,TORRES,"-59,12794068","-34,43082199",NaN
3,4,Buenos Aires,MANUELA SARASOLA,"RUTA 36 KM 45,500 S/N EL PELIGRO",49-2883,29,RUTA SOL,"-58,14393954","-34,92052706",NaN
4,5,Buenos Aires,MARIO RAÚL SARASUA,492 Y 186 S/N COLONIA URQUIZA,491-4608,34,JOSE MELCHOR ROMERO,"-58,089381","-34,9444471",NaN

In [22]:
cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2672 entries, 0 to 2671
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2672 non-null   int64
 1   Provincia          2647 non-null   object
 2   Nombre_y_Apellido  2648 non-null   object
 3   Domicilio          2630 non-null   object
 4   Telefono           2637 non-null   object
 5   Edad               2672 non-null   int64
 6   Localidad          2647 non-null   object
 7   X                  2616 non-null   object
 8   Y                  2618 non-null   object
 9   col10              0 non-null      float64
dtypes: float64(1), int64(2), object(7)
memory usage: 208.9+ KB

In [23]:
cliente.isna().sum()

ID                      0
Provincia              25
Nombre_y_Apellido      24
Domicilio              42
Telefono               35
Edad                    0
Localidad              25
X                      56
Y                      54
col10                2672
dtype: int64

In [37]:
cliente.nunique()

ID                   2672
Provincia               3
Nombre_y_Apellido    2592
Domicilio            2628
Telefono             2635
Edad                   51
Localidad             378
X                    2610
Y                    2612
col10                   0
dtype: int64

In [27]:
cliente.loc[cliente.Provincia.isna()]

,ID,Provincia,Nombre_y_Apellido,Domicilio,Telefono,Edad,Localidad,X,Y,col10
11,12,NaN,EDUARDO VICENTE SARNI,CARLOS TEJEDOR 444 EL PINAR,4480-0769,52,NaN,"-58,57950173","-34,82788055",NaN
14,15,NaN,JESUS EDUARDO SARUTTE,52 Y 235 S/N ESQUINA NEGRA,496-4503,25,NaN,"-58,07461366","-35,03160025",NaN
19,20,NaN,ANDRES ALBERTO SCAGLIOLA,RUTA 15 Y 74 S/N LOS TALAS,462-0411,24,NaN,"-57,80754132","-34,8980234",NaN
202,203,NaN,MERCEDES TRIGO,L. N. ALEM 387,47-7194,31,NaN,"-58,38185254","-34,91321374",NaN
205,206,NaN,SILVANA MARIA TROTTO,GODOY CRUZ Y R. DE ESCALADA S/N BARRIO SAN MA...,47-7952,28,NaN,"-58,3923462","-34,93104911",NaN
784,785,NaN,"Fernandez, Anibal Oscar",22 1338,451-0607,20,NaN,"-57,95322986","-34,9374101",NaN
795,796,NaN,"Real, Victor Hugo",2 BIS Y 515 S/N,471-4086,52,NaN,"-57,98310019","-34,88246253",NaN
804,805,NaN,"Kepa, Carlos D",RUTA 36 Y 529 S/N,491-6025,45,NaN,"-58,06003018","-34,97705791",NaN
819,820,NaN,"Rodriguez, Ruben Osvaldo",7 (ESQ. 32) S/N,422-4898,43,NaN,"-57,96847377","-34,90064659",NaN
848,849,NaN,REINEL ANTONIO ARIZA NIEVES,CHIRIPA Y LA QUERENCIA 623 BARRIO EL GAUCHO,4238-7458,21,NaN,"-58,36957529","-34,81900036",NaN
866,867,NaN,MARYLIN OTERO ACOSTA,SCALABRINI ORTIZ 2561 VILLA PARIS,42-7372,39,NaN,"-58,37910613","-34,87911199",NaN
1236,1237,NaN,MARTIN DIBARBOURE,JOSE HERNANDEZ 2210,4236-6325,17,NaN,"-58,35201173","-34,80927702",NaN
1751,1752,NaN,RAFAEL PATERNAIN,RUTA PROVINCIAL 28 KM 6 S/N ENTIQUIANA DEL PEON,440-9043,57,NaN,"-58,92410576","-34,51268547",NaN
1753,1754,NaN,RITA BEATRIZ PATRON,LOS CEIBOS - RIO LUJAN s/n EL CAZADOR,48-8125,59,NaN,"-58,77149257","-34,28843088",NaN
1755,1756,NaN,ANA MARIA PAVON,RUTA 8 KM 78 S/N,47-8060,16,NaN,"-59,13493544","-34,371831",NaN
1810,1811,NaN,JENNY READ,LUIS SIRONI Y RTA.PCIAL NÂº6 S/N CUARTEL II,15-5341-2821,56,NaN,"-59,04010696","-34,62514282",NaN
1825,1826,NaN,ALEJANDRO DANIEL REPETTO,RIO PARANA MINI S/N PARAJE ISLAS,4728-1891,62,NaN,"-58,5197955","-34,15111301",NaN
1829,1830,NaN,CARLOS NICOLAS REY,ARROYO CARACOLES S/N PJE.ISLAS DEL DELTA 2Âª ...,4728-1918,18,NaN,"-58,51497069","-34,24406526",NaN
1835,1836,NaN,ALFREDO REYES,RIO LUJAN Y ARROYO EL CORRENTINO S/N SECCION ...,46-0230,65,NaN,"-58,72164835","-34,29769297",NaN
1845,1846,NaN,WASHINGTON RAUL RIBEIRO,RUTA NAC.6 Y RUTA 53 Los RetoÃ±os,15-524-1492,60,NaN,"-58,22999374","-35,02407669",NaN
1870,1871,NaN,JORGE RUIBAL,RUTA 8 KM 85 CUARTEL IV S/N PARAJE PUENTE DE ...,49-2278,38,NaN,"-59,20674955","-34,35546074",NaN
2465,2466,NaN,BEATRIZ ELENA MEDINA QUINTERO,CALLE PUBLICA COOP. 2 DE MAYO,449099,52,NaN,"-64,254078","-31,318754",NaN
2555,2556,NaN,JULIO CESAR BANGO,MARIANO MANSILLA 1025 COLINAS DEL CERRO,4348386,52,NaN,"-64,24812339","-31,37918888",NaN
2585,2586,NaN,MARIO NELGAR DIAZ,FELIX ROBIN FERREYRA 2324 ALTO ALBERDI Av. San...,4347835,45,NaN,"-64,21587337","-31,41489553",NaN
2631,2632,NaN,JOAQUIN PICARDO,CALLE PUBLICA S.M.A.T.A.,4344129,43,NaN,"-64,22252811","-31,45246554",NaN

In [38]:
cliente.loc[cliente.Nombre_y_Apellido.isna()]

,ID,Provincia,Nombre_y_Apellido,Domicilio,Telefono,Edad,Localidad,X,Y,col10
1081,1082,Buenos Aires,NaN,BELIERA Y RUTA 26 KM 5 S/N,48-3120,21,MAQUINISTA SAVIO,"-58,77632327","-34,410096",NaN
1332,1333,Buenos Aires,NaN,LOS ROBLES E/JACARANDAES Y P.BORRACHOS 108 PA...,4283-4029,60,LOMAS DE ZAMORA,"-58,43154139","-34,76525411",NaN
1337,1338,Buenos Aires,NaN,AVENIDA HIPOLITO YRIGOYEN Y LARROQUE 7672,4242-0635,23,BANDFIELD,"-58,39912494","-34,74451518",NaN
1359,1360,Buenos Aires,NaN,L.DE LA TORRE E/GAONA E INGENIEROS 2264,4283-1479,54,BANDFIELD,"-58,4384484","-34,74820016",NaN
1389,1390,Buenos Aires,NaN,AZAMOR E/ LARRAZABAL Y MJURATURE 297,4276-2010,16,VILLA FIORITO,"-58,44269873","-34,70083958",NaN
1617,1618,Buenos Aires,NaN,RODRIGUEZ PEÃ?A 145 MERLO NORTE,482-1483,47,MERLO,"-58,7329899","-34,66218051",NaN
1748,1749,Buenos Aires,NaN,RIO LUJAN - VILLA IRSA - CUARTEL V S/N RIO LU...,48-4266,33,BENAVIDEZ,"-58,6481981","-34,37827137",NaN
1763,1764,Buenos Aires,NaN,7 Y 643 S/N VILLA GARIBALDI,491-0615,55,VILLA ELVIRA,"-57,86410071","-34,97950576",NaN
1852,1853,Buenos Aires,NaN,CUARTEL III S/N PARAJE SAMBOROMBON,15-67-0706,45,SAMBOROMBON,"-58,28306176","-35,22079921",NaN
1855,1856,Buenos Aires,NaN,CHIRAMBERRO Y SARMIENTO 489,49-1120,30,LOMA VERDE,"-58,40544324","-35,27514719",NaN
1856,1857,Buenos Aires,NaN,RUTA 215 KM 68 S/N LOS MERINOS,NaN,49,LOS MERINOS,"-58,43801677","-35,2236903",NaN
1859,1860,Buenos Aires,NaN,CAMINO VECINAL A G. RODRIGUEZ CUARTELV S/N CU...,15-501-4380,20,CUARTEL V,"-58,88936902","-34,73841486",NaN
1861,1862,Buenos Aires,NaN,CUARTEL XI RUTA PROV.193 S/N LOS MANUELES,15-41-7384,24,LOS MANUELES,"-59,29943236","-34,36796601",NaN
1863,1864,Buenos Aires,NaN,ARROYO FELICARIA S/N 2DA SECC. ISLAS,4728-1849,37,ISLAS,"-58,53375348","-34,22242442",NaN
2340,2341,Córdoba,NaN,MOLLEYACO ESQ.PAYEN S/N BARRIO CERRO NORTE MOL...,449085,22,CORDOBA,"-64,27980081","-31,3232745",NaN
2490,2491,Córdoba,NaN,AV. ARTURO CAPDEVILA KM 9 S/NÂº VILLA ESQUIU,4999125/4999921,33,CORDOBA,"-64,10788088","-31,35910792",NaN
2529,2530,Córdoba,NaN,DIAZ DE LA FUENTE 3101 MATIENZO BÂ° MATIENZO,4343474,65,CORDOBA,"-64,23711582","-31,44527022",NaN
2569,2570,Córdoba,NaN,JULIAN PAZ 1851 VILLA CABRERA,4347870,21,CORDOBA,"-64,20872478","-31,38860733",NaN
2570,2571,Córdoba,NaN,AV.ELIAS YOFRE 1095 JARDIN,4646909,51,CORDOBA,"-64,1798456","-31,45057448",NaN
2571,2572,Córdoba,NaN,DAGUERRE 5100 ALMIRANTE BROWN CNO. A CAPILLA D...,4348889,25,CORDOBA,"-64,09287247","-31,4589536",NaN
2576,2577,Córdoba,NaN,MARTIN ALLENDE 2005 YOFRE NORTE,4529860,23,CORDOBA,"-64,12915309","-31,385403",NaN
2587,2588,Córdoba,NaN,PEDRO L. DE CABRERA 3070 JARDIN,4334228,16,CORDOBA,"-64,17159864","-31,4475665",NaN
2588,2589,Córdoba,NaN,Soldado Pizarro. CALLE 15 INAUDI,4949754,26,CORDOBA,"-64,19363826","-31,47670021",NaN
2613,2614,Córdoba,NaN,JULIAN LAGUNA 2600 AMPLIACION SAN JORGE,4335117,24,CORDOBA,"-64,13358155","-31,37227386",NaN

In [39]:
cliente.loc[cliente.Domicilio.isna()]

,ID,Provincia,Nombre_y_Apellido,Domicilio,Telefono,Edad,Localidad,X,Y,col10
140,141,Buenos Aires,DORA SZAFIR,NaN,4690-6533,19,RAFAEL CASTILLO,NaN,NaN,NaN
526,527,Buenos Aires,"Gimenez Mora, Blas Ignacio",NaN,4768-0607,20,CIUDAD VILLA BALLESTER,NaN,NaN,NaN
536,537,Buenos Aires,"Bigatti, Jose",NaN,4720-5675,42,CIUDAD JARDIN DEL LIBERTADOR,NaN,NaN,NaN
568,569,Buenos Aires,"Maldonado, Bernardo",NaN,4284-1547,50,MONTE GRANDE,NaN,NaN,NaN
611,612,Buenos Aires,"Sanchez, Raul Angel",NaN,4755-0793,64,VILLA MAIPU,NaN,NaN,NaN
627,628,Buenos Aires,"Usarralde , Juan Martin",NaN,4713-2859,44,PARQUE SAN LORENZO,NaN,NaN,NaN
629,630,Buenos Aires,"Lagos, Osvaldo",NaN,4720-2374,30,CIUDAD VILLA BALLESTER,NaN,NaN,NaN
633,634,Buenos Aires,"Varela, Norberto Enrique",NaN,4729-9013,48,VILLA GODOY CRUZ,NaN,NaN,NaN
637,638,Buenos Aires,"Vicentini, Carlos Natalio",NaN,4729-9079,20,VILLA GENERAL EUGENIO NECOCHEA,NaN,NaN,NaN
640,641,Buenos Aires,"Avalos, Jorge Luis",NaN,4768-4734,59,VILLA GREGORIA MATORRAS,NaN,NaN,NaN
647,648,Buenos Aires,"Rodriguez, Rodolfo DanielHarambure, Leandro",NaN,4769-4180,33,VILLA CORONEL JOSE M. ZAPIOLA,NaN,NaN,NaN
752,753,Buenos Aires,"Bazand Calderon , Jose",NaN,496-2983,21,ANGEL ETCHEVERRY,NaN,NaN,NaN
829,830,Buenos Aires,MARIANELLA CARDENAS GONZALEZ,NaN,421-2978,19,LA PLATA,NaN,NaN,NaN
1006,1007,Buenos Aires,CECILIA CAIRO,NaN,49-3323,18,VIRREY DEL PINO,NaN,NaN,NaN
1097,1098,Buenos Aires,RENE CHAGAS,NaN,48-2836,59,BENAVIDEZ,NaN,NaN,NaN
1099,1100,Buenos Aires,JULIO CESAR CHALAR,NaN,NaN,27,BANDFIELD,NaN,NaN,NaN
1132,1133,Buenos Aires,JOSE ENRIQUE COLMAN,NaN,4274-7901,24,VILLA BROWN,NaN,NaN,NaN
1133,1134,Buenos Aires,CARLOS VICENTE COLOM,NaN,4255-6766,62,FLORENCIO VARELA,NaN,NaN,NaN
1137,1138,Buenos Aires,KARL FREDERICK CONSOLANDICH,NaN,4274-4075,31,VILLA SANTA ROSA,NaN,NaN,NaN
1152,1153,Buenos Aires,UDISON CORREA,NaN,4237-9095,34,GOBERNADOR JULIO A COSTA,NaN,NaN,NaN
1189,1190,Buenos Aires,JUAN CURBELO,NaN,49-3900,27,VIRREY DEL PINO,NaN,NaN,NaN
1305,1306,Buenos Aires,LINA SILVIA FERNANDEZ,NaN,NaN,32,GENERAL PACHECO,NaN,NaN,NaN
1311,1312,Buenos Aires,ELEUTERIO FERNANDEZ,NaN,NaN,40,LOMAS DE ZAMORA,NaN,NaN,NaN
1317,1318,Buenos Aires,ALDO FERRARI,NaN,NaN,21,LOMAS DE ZAMORA,NaN,NaN,NaN
1338,1339,Buenos Aires,SEBASTIAN FERRERO,NaN,485-0393,65,GENERAL RODRIGUEZ,NaN,NaN,NaN
1360,1361,Buenos Aires,FERNANDO DANIEL FONTAN,NaN,NaN,40,BANDFIELD,NaN,NaN,NaN
1469,1470,Buenos Aires,LUIS ALBERTO GETAL,NaN,4625-2470,50,ISIDRO CASANOVA,NaN,NaN,NaN
1473,1474,Buenos Aires,SUSANA BEATRIZ GIANARELLI,NaN,42-6758,27,GONZALEZ CATAN,NaN,NaN,NaN
1489,1490,Buenos Aires,MARTHA GIUDICE,NaN,4467-2103,43,ISIDRO CASANOVA,NaN,NaN,NaN
1496,1497,Buenos Aires,CRISTINA --- GOITIÑO,NaN,4467-1816,16,GREGORIO DE LAFERRERE,NaN,NaN,NaN
1504,1505,Buenos Aires,ALFREDO DARIO GOMEZ,NaN,44-7121,22,VIRREY DEL PINO,NaN,NaN,NaN
1505,1506,Buenos Aires,RICARDO GOMEZ,NaN,43-6812,27,GONZALEZ CATAN,NaN,NaN,NaN
1522,1523,Buenos Aires,PABLO GONZALEZ,NaN,4453-2850,19,L DEL MIRADOR,NaN,NaN,NaN
1528,1529,Buenos Aires,MARIA CRISTINA GONZALEZ,NaN,43-6838,45,GONZALEZ CATAN,NaN,NaN,NaN
1533,1534,Buenos Aires,ADRIANA MARIA GONZALEZ,NaN,4467-1864,64,GREGORIO DE LAFERRERE,NaN,NaN,NaN
1581,1582,Buenos Aires,ALVARO LUIS GUINEA,NaN,4698-7924,34,GREGORIO DE LAFERRERE,NaN,NaN,NaN
1585,1586,Buenos Aires,JAVIER ENRIQUE GUTIERREZ,NaN,4695-3422,63,CIUDAD EVITA,NaN,NaN,NaN
1605,1606,Buenos Aires,SILVIO HERNANDEZ,NaN,4698-8401/5156,41,GREGORIO DE LAFERRERE,NaN,NaN,NaN
1611,1612,Buenos Aires,ALEJANDRO HERNANDEZ,NaN,4651-3232,44,SAN JUSTO,NaN,NaN,NaN
1638,1639,Buenos Aires,MARIA ESTELA ILUNDAIN,NaN,497-5183,41,SAN ANTONIO DE PADUA,NaN,NaN,NaN
2556,2557,Córdoba,DANIEL HONORIO BARRIOS,NaN,NaN,17,CORDOBA,NaN,NaN,NaN
2639,2640,Córdoba,CLAUDIO PIÑEYRO,NaN,487942,33,UNQUILLO,NaN,NaN,NaN

In [40]:
cliente.loc[cliente.Telefono.isna()]

,ID,Provincia,Nombre_y_Apellido,Domicilio,Telefono,Edad,Localidad,X,Y,col10
532,533,Buenos Aires,"Umansky, Roberto Rafael",SUIPACHA Y NAON 5731,NaN,48,BILLINGHURST,"-58,57816326","-34,57053906",NaN
725,726,Buenos Aires,"Biondini, Roberto Miguel",ALFONSINA STORNI E/LA PLATA Y LA TABLA S/N,NaN,17,MARIANO MORENO,"-58,7996827","-34,60805218",NaN
727,728,Buenos Aires,"Mamani , Mario Fernando",BARRIO VILLA ARRARAS BÂº VILLA ARRARAS,NaN,65,GENERAL RODRIGUEZ,"-58,93636158","-34,5499612",NaN
862,863,Buenos Aires,DIANA COLOMBIA GARCIA GELVES,LOS STUDS E/ BS AS Y ESPAÃ?A S/N RAYO DE SOL,NaN,23,LONGCHAMPS,"-58,4072456","-34,87773209",NaN
1099,1100,Buenos Aires,JULIO CESAR CHALAR,NaN,NaN,27,BANDFIELD,NaN,NaN,NaN
1181,1182,Buenos Aires,DANUBIO CRUZ,LIMA Y PUNCH BÂº SOL Y VERDE,NaN,49,TORTUGUITAS,"-58,78986507","-34,50580773",NaN
1196,1197,Buenos Aires,HOMERO HECTOR DA COSTA PORTO,447 E/ MONTEVERDE Y 400,NaN,62,GOBERNADOR JULIO A COSTA,"-58,31879246","-34,80206225",NaN
1209,1210,Buenos Aires,MARTIN ISMAEL DALGALARRONDO,RIGLOS 4866,NaN,57,GONZALEZ CATAN,"-58,61950815","-34,75700659",NaN
1249,1250,Buenos Aires,IRMA ESQUIVEL,CAMINO AL PARQUE INDUSTRIAL (CUAR.III) S/N CO...,NaN,54,ZARATE,"-59,02493277","-34,09108354",NaN
1305,1306,Buenos Aires,LINA SILVIA FERNANDEZ,NaN,NaN,32,GENERAL PACHECO,NaN,NaN,NaN
1311,1312,Buenos Aires,ELEUTERIO FERNANDEZ,NaN,NaN,40,LOMAS DE ZAMORA,NaN,NaN,NaN
1317,1318,Buenos Aires,ALDO FERRARI,NaN,NaN,21,LOMAS DE ZAMORA,NaN,NaN,NaN
1360,1361,Buenos Aires,FERNANDO DANIEL FONTAN,NaN,NaN,40,BANDFIELD,NaN,NaN,NaN
1378,1379,Buenos Aires,FRANCO FREDUCCI,LA HAYA Y RICARDO PALMA BARRIO F.QUIROGA,NaN,52,BANDFIELD,"-58,45160787","-34,72910731",NaN
1688,1689,Buenos Aires,EDISON HERIBERTO KRASOVSKI,ESCALADA Y REMBRANDT S/N BARRIO EL AGUARIBAY,NaN,40,FRANCISCO ALVAREZ,"-58,87959846","-34,58959668",NaN
1744,1745,Buenos Aires,ANDRES FERNANDO LESA,1 BIS E/ BOULEVARD 2 Y 3,NaN,49,VILLA ELISA,"-57,90682784","-34,93561665",NaN
1758,1759,Buenos Aires,RODOLFO CARLOS PEDOCCHI,SANCHEZ DE BUST. E/MALABIA Y MEDRANO S/N BARR...,NaN,65,VILLA ROSA,"-58,85975517","-34,42438174",NaN
1760,1761,Buenos Aires,ROBERTO GUZMAN PEDREIRA,BELIERA E/ COLON Y BRASIL S/N,NaN,23,GARIN,"-58,75268148","-34,42378389",NaN
1761,1762,Buenos Aires,ANGEL ROQUE PEDREIRA,REPETTO E/ LA PLATA Y PATRICIOS BÂº JUAN XXIII,NaN,52,LUJAN,"-59,10399662","-34,54846943",NaN
1762,1763,Buenos Aires,ALEJANDRA PEDULLA,411 Y 25,NaN,25,VILLA ELISA,"-58,10439972","-34,86434997",NaN
1784,1785,Buenos Aires,CLAUDIO REYNALDO QUINTANA,RUTA PROVINCIAL NÂº6 KM 12 S/N,NaN,41,BARRIO LOS PIONEROS,"-58,96547351","-34,26981951",NaN
1802,1803,Buenos Aires,DANIELA RAMOS,"RIO PARANA DE LAS PALMAS KM. 117,5 S/N",NaN,21,ISLAS,"-59,09145931","-34,00836392",NaN
1814,1815,Buenos Aires,GONZALO JAVIER REBOLEDO,RUTA 34 CAMINOA PILAR S/N CUARTEL IV,NaN,42,CUARTEL IV,"-58,99801141","-34,54434907",NaN
1836,1837,Buenos Aires,MARGARITA ROSA REYES,RUTA 52 KM.26 S/N EL PORVENIR,NaN,37,EL PORVENIR,"-58,5417323","-34,9628968",NaN
1847,1848,Buenos Aires,DARDO EDUARDO RODRIGUEZ,ZONA RURAL S/N PARAJE SUCRE,NaN,57,SUCRE,"-59,11400635","-34,51513549",NaN
1850,1851,Buenos Aires,ARACELY RODRIGUEZ,TERESA MASTELLONE S/N BARRIO GRANADEROS,NaN,54,BARRIO GRANADEROS,"-59,01370012","-34,58744152",NaN
1856,1857,Buenos Aires,NaN,RUTA 215 KM 68 S/N LOS MERINOS,NaN,49,LOS MERINOS,"-58,43801677","-35,2236903",NaN
2458,2459,Córdoba,JHON FABER GONZALEZ MOSCOSO,RUTA 9-S-KM 689 S/NÂº 25 DE MAYO BÂ° 25 DE MAYO,NaN,27,CORDOBA,"-64,076726","-31,492202",NaN
2491,2492,Córdoba,JOSE BARTOLOME ACOSTA,CALLE PUBLICA S/NÂº 29 DE MAYO CORDOBA - CIUD...,NaN,30,CORDOBA,"-64,12531302","-31,37083811",NaN
2532,2533,Córdoba,SYLVIA AMADO,LAS ANEMONAS 2231 CUESTA COLORADA LA CALERA,NaN,31,LA CALERA,"-64,34095356","-31,3405455",NaN
2556,2557,Córdoba,DANIEL HONORIO BARRIOS,NaN,NaN,17,CORDOBA,NaN,NaN,NaN
2567,2568,Córdoba,NELSON MARIO CABRERA,JUAN RAMON ROJAS CIUDAD AMPLIACION FERREYRA B...,NaN,43,CORDOBA,"-64,11998478","-31,47549286",NaN
2615,2616,Córdoba,HERMES RAUL PASTORINI,BEJANELE 6200 I.P.V. ARGUELLO NORTE,NaN,34,CORDOBA,"-64,24607679","-31,33191067",NaN
2635,2636,Córdoba,RODOLFO WASHINGTON PICCINI,CALLE PUBLICA SOL NACIENTE BARRIO SOL NACIENTE,NaN,44,CORDOBA,"-64,24296159","-31,32224436",NaN
2649,2650,Córdoba,ANDRES RIDAO,CALLE PUBLICA S/NÂº POZO DEL TIGRE,NaN,62,POZO DEL TIGRE,"-64,1839443","-31,1067387",NaN

In [41]:
cliente.Edad.describe()

count    2672.000000
mean       40.203967
std        14.611554
min        15.000000
25%        28.000000
50%        41.000000
75%        53.000000
max        65.000000
Name: Edad, dtype: float64

In [42]:
cliente.loc[cliente.X.isna()]

,ID,Provincia,Nombre_y_Apellido,Domicilio,Telefono,Edad,Localidad,X,Y,col10
140,141,Buenos Aires,DORA SZAFIR,NaN,4690-6533,19,RAFAEL CASTILLO,NaN,NaN,NaN
155,156,Buenos Aires,CECILIA RITA TEJERA,SARGENTO DIAZ E/ CORDERO Y CAN 1990 VIRREYES,4744-7607,29,VIRREYES,NaN,"-34,45391448",NaN
162,163,Buenos Aires,ANA MARIA TELLECHEA,G.POSADAS E/ CHARCAS Y SANTANA 606,4743-1353,57,BECCAR,NaN,"-34,46477348",NaN
174,175,Buenos Aires,HERMES ROMERO TOLEDO,B. DE IRIGOYEN E/ SEGUROLA Y CAZON 2100,4765-4115,64,BOULOGNE SUR MER,NaN,"-34,49464954",NaN
188,189,Buenos Aires,SERGIO TORRES,C.ONELLI E/ M.GARCIA Y GUIDO 2468,4723-1524,33,BECCAR,NaN,"-34,46701129",NaN
316,317,Buenos Aires,GRACIELA VILLAR,ESTANISLAO DEL CAMPO ESQ. GÃ?EMES 777 PADILLA,4760-5931,49,VILLA MARTELLI,NaN,"-34,54071579",NaN
379,380,Buenos Aires,"Martinez, Santiago Alb",MAURE Y C. URUGUAYO 3360 LAS HIGUERITAS,4246-0347,18,LANUS ESTE,NaN,"-34,71304052",NaN
384,385,Buenos Aires,"Benitez, Romina Paola",PERGAMINO Y BOUCHARD S/N,4225-2078,53,LANUS ESTE,NaN,"-34,70556988",NaN
526,527,Buenos Aires,"Gimenez Mora, Blas Ignacio",NaN,4768-0607,20,CIUDAD VILLA BALLESTER,NaN,NaN,NaN
536,537,Buenos Aires,"Bigatti, Jose",NaN,4720-5675,42,CIUDAD JARDIN DEL LIBERTADOR,NaN,NaN,NaN
547,548,Buenos Aires,"Gallucci, Domingo",ROMA Y CAMINO REAL 188 EZEIZA,43-1051,20,CARLOS SPEGAZZIN,NaN,"-34,89879758",NaN
568,569,Buenos Aires,"Maldonado, Bernardo",NaN,4284-1547,50,MONTE GRANDE,NaN,NaN,NaN
611,612,Buenos Aires,"Sanchez, Raul Angel",NaN,4755-0793,64,VILLA MAIPU,NaN,NaN,NaN
627,628,Buenos Aires,"Usarralde , Juan Martin",NaN,4713-2859,44,PARQUE SAN LORENZO,NaN,NaN,NaN
629,630,Buenos Aires,"Lagos, Osvaldo",NaN,4720-2374,30,CIUDAD VILLA BALLESTER,NaN,NaN,NaN
633,634,Buenos Aires,"Varela, Norberto Enrique",NaN,4729-9013,48,VILLA GODOY CRUZ,NaN,NaN,NaN
637,638,Buenos Aires,"Vicentini, Carlos Natalio",NaN,4729-9079,20,VILLA GENERAL EUGENIO NECOCHEA,NaN,NaN,NaN
640,641,Buenos Aires,"Avalos, Jorge Luis",NaN,4768-4734,59,VILLA GREGORIA MATORRAS,NaN,NaN,NaN
647,648,Buenos Aires,"Rodriguez, Rodolfo DanielHarambure, Leandro",NaN,4769-4180,33,VILLA CORONEL JOSE M. ZAPIOLA,NaN,NaN,NaN
711,712,Buenos Aires,"Manrique, Alberto CesarParra, Pablo Ariel",ITALIA E/ BRAMANTE Y C. VIGIL 4010,4465-5186,60,SAN MIGUEL,NaN,"-34,56658193",NaN
732,733,Buenos Aires,"Rizzo, Gabriel Domingo",CARMEN PUCH E/ PASTEUR Y AGRELO 1781 BARRIO L...,44-6227,54,JOSE C PAZ,NaN,"-34,51432265",NaN
740,741,Buenos Aires,"Ovalle Valera , Ricardo Edward",G. PINTOS Y PRINGLES S/N EL COLIBRI,4465-5182,52,SAN MIGUEL,NaN,"-34,55590147",NaN
752,753,Buenos Aires,"Bazand Calderon , Jose",NaN,496-2983,21,ANGEL ETCHEVERRY,NaN,NaN,NaN
829,830,Buenos Aires,MARIANELLA CARDENAS GONZALEZ,NaN,421-2978,19,LA PLATA,NaN,NaN,NaN
1006,1007,Buenos Aires,CECILIA CAIRO,NaN,49-3323,18,VIRREY DEL PINO,NaN,NaN,NaN
1010,1011,Buenos Aires,ROBERTO CALVO,COMPOSTELA Y GIRONDO S/N,42-2250,47,JOSE C PAZ,NaN,"-34,51731279",NaN
1013,1014,Buenos Aires,LUIS ALBERTO CAMACHO,BELGRANO E/ PAZ Y ZUBIRIA 1755,4667-4405,16,SAN MIGUEL,NaN,"-34,54748548",NaN
1097,1098,Buenos Aires,RENE CHAGAS,NaN,48-2836,59,BENAVIDEZ,NaN,NaN,NaN
1099,1100,Buenos Aires,JULIO CESAR CHALAR,NaN,NaN,27,BANDFIELD,NaN,NaN,NaN
1132,1133,Buenos Aires,JOSE ENRIQUE COLMAN,NaN,4274-7901,24,VILLA BROWN,NaN,NaN,NaN
1133,1134,Buenos Aires,CARLOS VICENTE COLOM,NaN,4255-6766,62,FLORENCIO VARELA,NaN,NaN,NaN
1137,1138,Buenos Aires,KARL FREDERICK CONSOLANDICH,NaN,4274-4075,31,VILLA SANTA ROSA,NaN,NaN,NaN
1152,1153,Buenos Aires,UDISON CORREA,NaN,4237-9095,34,GOBERNADOR JULIO A COSTA,NaN,NaN,NaN
1189,1190,Buenos Aires,JUAN CURBELO,NaN,49-3900,27,VIRREY DEL PINO,NaN,NaN,NaN
1213,1214,Buenos Aires,ANABELLA ELIZABETH DAMASCO,CRUZ DEL SUR E/ AGUERO Y ESPAÃ?A 1954 LA GUARIDA,4455-9133,43,SAN MIGUEL,NaN,"-34,57126884",NaN
1305,1306,Buenos Aires,LINA SILVIA FERNANDEZ,NaN,NaN,32,GENERAL PACHECO,NaN,NaN,NaN
1311,1312,Buenos Aires,ELEUTERIO FERNANDEZ,NaN,NaN,40,LOMAS DE ZAMORA,NaN,NaN,NaN
1317,1318,Buenos Aires,ALDO FERRARI,NaN,NaN,21,LOMAS DE ZAMORA,NaN,NaN,NaN
1338,1339,Buenos Aires,SEBASTIAN FERRERO,NaN,485-0393,65,GENERAL RODRIGUEZ,NaN,NaN,NaN
1360,1361,Buenos Aires,FERNANDO DANIEL FONTAN,NaN,NaN,40,BANDFIELD,NaN,NaN,NaN
1469,1470,Buenos Aires,LUIS ALBERTO GETAL,NaN,4625-2470,50,ISIDRO CASANOVA,NaN,NaN,NaN
1473,1474,Buenos Aires,SUSANA BEATRIZ GIANARELLI,NaN,42-6758,27,GONZALEZ CATAN,NaN,NaN,NaN
1489,1490,Buenos Aires,MARTHA GIUDICE,NaN,4467-2103,43,ISIDRO CASANOVA,NaN,NaN,NaN
1496,1497,Buenos Aires,CRISTINA --- GOITIÑO,NaN,4467-1816,16,GREGORIO DE LAFERRERE,NaN,NaN,NaN
1504,1505,Buenos Aires,ALFREDO DARIO GOMEZ,NaN,44-7121,22,VIRREY DEL PINO,NaN,NaN,NaN
1505,1506,Buenos Aires,RICARDO GOMEZ,NaN,43-6812,27,GONZALEZ CATAN,NaN,NaN,NaN
1522,1523,Buenos Aires,PABLO GONZALEZ,NaN,4453-2850,19,L DEL MIRADOR,NaN,NaN,NaN
1528,1529,Buenos Aires,MARIA CRISTINA GONZALEZ,NaN,43-6838,45,GONZALEZ CATAN,NaN,NaN,NaN
1533,1534,Buenos Aires,ADRIANA MARIA GONZALEZ,NaN,4467-1864,64,GREGORIO DE LAFERRERE,NaN,NaN,NaN
1581,1582,Buenos Aires,ALVARO LUIS GUINEA,NaN,4698-7924,34,GREGORIO DE LAFERRERE,NaN,NaN,NaN
1585,1586,Buenos Aires,JAVIER ENRIQUE GUTIERREZ,NaN,4695-3422,63,CIUDAD EVITA,NaN,NaN,NaN
1605,1606,Buenos Aires,SILVIO HERNANDEZ,NaN,4698-8401/5156,41,GREGORIO DE LAFERRERE,NaN,NaN,NaN
1611,1612,Buenos Aires,ALEJANDRO HERNANDEZ,NaN,4651-3232,44,SAN JUSTO,NaN,NaN,NaN
1638,1639,Buenos Aires,MARIA ESTELA ILUNDAIN,NaN,497-5183,41,SAN ANTONIO DE PADUA,NaN,NaN,NaN
2556,2557,Córdoba,DANIEL HONORIO BARRIOS,NaN,NaN,17,CORDOBA,NaN,NaN,NaN
2639,2640,Córdoba,CLAUDIO PIÑEYRO,NaN,487942,33,UNQUILLO,NaN,NaN,NaN

In [47]:
cliente.X.loc[cliente.X > '0' ].count()

44

In [48]:
cliente.loc[cliente.Y.isna()]

,ID,Provincia,Nombre_y_Apellido,Domicilio,Telefono,Edad,Localidad,X,Y,col10
140,141,Buenos Aires,DORA SZAFIR,NaN,4690-6533,19,RAFAEL CASTILLO,NaN,NaN,NaN
526,527,Buenos Aires,"Gimenez Mora, Blas Ignacio",NaN,4768-0607,20,CIUDAD VILLA BALLESTER,NaN,NaN,NaN
536,537,Buenos Aires,"Bigatti, Jose",NaN,4720-5675,42,CIUDAD JARDIN DEL LIBERTADOR,NaN,NaN,NaN
568,569,Buenos Aires,"Maldonado, Bernardo",NaN,4284-1547,50,MONTE GRANDE,NaN,NaN,NaN
611,612,Buenos Aires,"Sanchez, Raul Angel",NaN,4755-0793,64,VILLA MAIPU,NaN,NaN,NaN
627,628,Buenos Aires,"Usarralde , Juan Martin",NaN,4713-2859,44,PARQUE SAN LORENZO,NaN,NaN,NaN
629,630,Buenos Aires,"Lagos, Osvaldo",NaN,4720-2374,30,CIUDAD VILLA BALLESTER,NaN,NaN,NaN
633,634,Buenos Aires,"Varela, Norberto Enrique",NaN,4729-9013,48,VILLA GODOY CRUZ,NaN,NaN,NaN
637,638,Buenos Aires,"Vicentini, Carlos Natalio",NaN,4729-9079,20,VILLA GENERAL EUGENIO NECOCHEA,NaN,NaN,NaN
640,641,Buenos Aires,"Avalos, Jorge Luis",NaN,4768-4734,59,VILLA GREGORIA MATORRAS,NaN,NaN,NaN
647,648,Buenos Aires,"Rodriguez, Rodolfo DanielHarambure, Leandro",NaN,4769-4180,33,VILLA CORONEL JOSE M. ZAPIOLA,NaN,NaN,NaN
752,753,Buenos Aires,"Bazand Calderon , Jose",NaN,496-2983,21,ANGEL ETCHEVERRY,NaN,NaN,NaN
829,830,Buenos Aires,MARIANELLA CARDENAS GONZALEZ,NaN,421-2978,19,LA PLATA,NaN,NaN,NaN
1006,1007,Buenos Aires,CECILIA CAIRO,NaN,49-3323,18,VIRREY DEL PINO,NaN,NaN,NaN
1097,1098,Buenos Aires,RENE CHAGAS,NaN,48-2836,59,BENAVIDEZ,NaN,NaN,NaN
1099,1100,Buenos Aires,JULIO CESAR CHALAR,NaN,NaN,27,BANDFIELD,NaN,NaN,NaN
1132,1133,Buenos Aires,JOSE ENRIQUE COLMAN,NaN,4274-7901,24,VILLA BROWN,NaN,NaN,NaN
1133,1134,Buenos Aires,CARLOS VICENTE COLOM,NaN,4255-6766,62,FLORENCIO VARELA,NaN,NaN,NaN
1137,1138,Buenos Aires,KARL FREDERICK CONSOLANDICH,NaN,4274-4075,31,VILLA SANTA ROSA,NaN,NaN,NaN
1152,1153,Buenos Aires,UDISON CORREA,NaN,4237-9095,34,GOBERNADOR JULIO A COSTA,NaN,NaN,NaN
1189,1190,Buenos Aires,JUAN CURBELO,NaN,49-3900,27,VIRREY DEL PINO,NaN,NaN,NaN
1305,1306,Buenos Aires,LINA SILVIA FERNANDEZ,NaN,NaN,32,GENERAL PACHECO,NaN,NaN,NaN
1311,1312,Buenos Aires,ELEUTERIO FERNANDEZ,NaN,NaN,40,LOMAS DE ZAMORA,NaN,NaN,NaN
1317,1318,Buenos Aires,ALDO FERRARI,NaN,NaN,21,LOMAS DE ZAMORA,NaN,NaN,NaN
1338,1339,Buenos Aires,SEBASTIAN FERRERO,NaN,485-0393,65,GENERAL RODRIGUEZ,NaN,NaN,NaN
1360,1361,Buenos Aires,FERNANDO DANIEL FONTAN,NaN,NaN,40,BANDFIELD,NaN,NaN,NaN
1469,1470,Buenos Aires,LUIS ALBERTO GETAL,NaN,4625-2470,50,ISIDRO CASANOVA,NaN,NaN,NaN
1473,1474,Buenos Aires,SUSANA BEATRIZ GIANARELLI,NaN,42-6758,27,GONZALEZ CATAN,NaN,NaN,NaN
1489,1490,Buenos Aires,MARTHA GIUDICE,NaN,4467-2103,43,ISIDRO CASANOVA,NaN,NaN,NaN
1496,1497,Buenos Aires,CRISTINA --- GOITIÑO,NaN,4467-1816,16,GREGORIO DE LAFERRERE,NaN,NaN,NaN
1504,1505,Buenos Aires,ALFREDO DARIO GOMEZ,NaN,44-7121,22,VIRREY DEL PINO,NaN,NaN,NaN
1505,1506,Buenos Aires,RICARDO GOMEZ,NaN,43-6812,27,GONZALEZ CATAN,NaN,NaN,NaN
1522,1523,Buenos Aires,PABLO GONZALEZ,NaN,4453-2850,19,L DEL MIRADOR,NaN,NaN,NaN
1528,1529,Buenos Aires,MARIA CRISTINA GONZALEZ,NaN,43-6838,45,GONZALEZ CATAN,NaN,NaN,NaN
1533,1534,Buenos Aires,ADRIANA MARIA GONZALEZ,NaN,4467-1864,64,GREGORIO DE LAFERRERE,NaN,NaN,NaN
1581,1582,Buenos Aires,ALVARO LUIS GUINEA,NaN,4698-7924,34,GREGORIO DE LAFERRERE,NaN,NaN,NaN
1585,1586,Buenos Aires,JAVIER ENRIQUE GUTIERREZ,NaN,4695-3422,63,CIUDAD EVITA,NaN,NaN,NaN
1605,1606,Buenos Aires,SILVIO HERNANDEZ,NaN,4698-8401/5156,41,GREGORIO DE LAFERRERE,NaN,NaN,NaN
1611,1612,Buenos Aires,ALEJANDRO HERNANDEZ,NaN,4651-3232,44,SAN JUSTO,NaN,NaN,NaN
1638,1639,Buenos Aires,MARIA ESTELA ILUNDAIN,NaN,497-5183,41,SAN ANTONIO DE PADUA,NaN,NaN,NaN
2065,2066,Ciudad de Buenos Aires,JESUS MIGUEL MENDINA,OLAYA 1565 VILLA CRESPO,4854-9477,54,CIUDAD DE BUENOS AIRES,"-58,44592122",NaN,NaN
2115,2116,Ciudad de Buenos Aires,MARTHA SILVANA MONTANER,SANCHEZ 1858 VILLA GRAL. MITRE,4581-3497,41,CIUDAD DE BUENOS AIRES,"-58,46531818",NaN,NaN
2118,2119,Ciudad de Buenos Aires,SYLVIA CARMEN MONTANS,CNEL. APOLINARIO FIGUEROA 1077 CABALLITO,4582-9333,30,CIUDAD DE BUENOS AIRES,"-58,45242091",NaN,NaN
2129,2130,Ciudad de Buenos Aires,ANGEL MANUEL MORALES,ESTRADA 627 PARQUE CHACABUCO,4923-8717,58,CIUDAD DE BUENOS AIRES,"-58,43352158",NaN,NaN
2162,2163,Ciudad de Buenos Aires,LOURDES MOZZO,AVDA. PEDRO GOYENA 984 CABALLITO,4431-1110,41,CIUDAD DE BUENOS AIRES,"-58,44086926",NaN,NaN
2236,2237,Ciudad de Buenos Aires,HECTOR RAUL OLIVERA,BEAUCHEF 1869 PARQUE CHACABUCO,4921-2541,23,CIUDAD DE BUENOS AIRES,"-58,43020124",NaN,NaN
2264,2265,Ciudad de Buenos Aires,JOSE JAVIER PENA,PUAN 360 CABALLITO,4432-4515,58,CIUDAD DE BUENOS AIRES,"-58,44670365",NaN,NaN
2320,2321,Ciudad de Buenos Aires,EDISON MAURICIO PEREZ,DEAN FUNES 1821 PARQUE PATRICIOS 4943-5057,4911-0186/4943-5057,52,CIUDAD DE BUENOS AIRES,"-58,40456728",NaN,NaN
2425,2426,Córdoba,HECTOR JOSE TOLOZA FUENTES,AENIDA COLON 2295 ALTO ALBERDI AV. COLON,4347880,35,CORDOBA,"-64,21240656",NaN,NaN
2426,2427,Córdoba,FABIO ALEXANDER VILLAMIZAR CAMARGO,QUEBRACHO HERRADO ESQ. YAVI LAS PALMAS,4337317,31,CORDOBA,"-64,24350836",NaN,NaN
2427,2428,Córdoba,ANGELICA DEL PILAR VILLAMIZAR MORALES,FRANCISCO DE ARTEAGA LAS VIOLETAS,4347819,32,CORDOBA,"-64,25206415",NaN,NaN
2509,2510,Córdoba,DENISE HAIFA AKIKI,SUECIA 2832 PARQUE VELEZ SARSFIELD BÂ° PARQUE ...,4343050,52,CORDOBA,"-64,20601019",NaN,NaN
2556,2557,Córdoba,DANIEL HONORIO BARRIOS,NaN,NaN,17,CORDOBA,NaN,NaN,NaN
2639,2640,Córdoba,CLAUDIO PIÑEYRO,NaN,487942,33,UNQUILLO,NaN,NaN,NaN

In [49]:
cliente.Y.loc[cliente.Y > '0' ].count()

44

In [3]:
diccionario_cliente = {
    'Columna_1' : {
        'Título': 'ID',
        'Descripción': 'Índice asociado al cliente.',
        'Tipo de dato': 'Integer',
        'Problemas': 'A simple vista parecería que no tiene conflictos.',
        'Soluciones': 'Ninguna.'
    },
    'Columna_2' : {
        'Título': 'Provincia',
        'Descripción': 'Provincia en la que reside.',
        'Tipo de dato': 'String',
        'Problemas': '25 registros nulos, comparte registros nulos con la columna Localidad.',
        'Soluciones': 'Tratar de sacar el dato del maestro de localidades, si no imputar nulos por "Sin dato".'
    },
    'Columna_3' : {
        'Título': 'Nombre_y_Apellido',
        'Descripción': 'Nombre y Apellidos.',
        'Tipo de dato': 'String',
        'Problemas': '24 registros nulos, estos registros tienen entradas validas en el resto de campos. La columna no está normalizada. Algunas entradas están incompletas. Estos registros tienen las columnas X y Y vacías.',
        'Soluciones': 'Imputar nulos por "Sin dato", normalizar el formato de la columna'
    },
    'Columna_4' : {
        'Título': 'Domicilio',
        'Descripción': 'Dirección en la que reside.',
        'Tipo de dato': 'String',
        'Problemas': '42 registros nulos. Caracteres raros sin importar el encoding que se use.',
        'Soluciones': 'Imputar nulos por "Sin dato"'
    },
    'Columna_5' : {
        'Título': 'Telefono',
        'Descripción': 'Número telefónico asociado al cliente.',
        'Tipo de dato': 'String',
        'Problemas': '35 registros nulos. Algunos campos multivaluados. Columna no normalizada.',
        'Soluciones': 'Imputar nulos por "Sin dato". Eliminar uno de los teléfonos registrados. Normalizar la columna.'
    },
    'Columna_6' : {
        'Título': 'Edad',
        'Descripción': 'Edad.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Aparentemente ninguno.',
        'Soluciones': 'Ninguna.'
    },
    'Columna_7' : {
        'Título': 'Localidad',
        'Descripción': 'Localidad en la que reside.',
        'Tipo de dato': 'String',
        'Problemas': '25 registros nulos, comparte registros nulos con la columna Provincia.',
        'Soluciones': 'Tratar de sacar los datos del maestro de localidades, si no imputar nulos por "Sin dato".'
    },
    'Columna_8' : {
        'Título': 'X',
        'Descripción': 'Coordenadas de longitud del domicilio.',
        'Tipo de dato': 'Decimal',
        'Problemas': '56 registros nulos. 44 registros positivos (Todos deberían ser negativos). Punto decimal representado por coma.',
        'Soluciones': 'Imputar nulos por 0.0. Convertir los positivos. Cambiar la representación del punto decimal.'
    },
    'Columna_9' : {
        'Título': 'Y',
        'Descripción': 'Coordenadas de latitud del domicilio.',
        'Tipo de dato': 'Decimal',
        'Problemas': '54 registros nulos. 44 registros positivos (Todos deberían ser negativos). Punto decimal representado por coma.',
        'Soluciones': 'Imputar nulos por 0.0. Convertir los positivos. Cambiar la representación del punto decimal.'
    },
    'Columna_10' : {
        'Título': 'col10',
        'Descripción': 'Columna vacía.',
        'Tipo de dato': 'NaN',
        'Problemas': 'Toda la columna está vacía.',
        'Soluciones': 'Descartar toda la columna.'
    }
}

In [56]:
compra = pd.read_csv('./Datasets/Compra.csv', sep=',')
compra.head()

,IdCompra,Fecha,Fecha_Año,Fecha_Mes,Fecha_Periodo,IdProducto,Cantidad,Precio,IdProveedor
0,1,1/30/2015,2015,1,201501,42832,13,560.51,12
1,2,1/30/2015,2015,1,201501,42833,11,497.58,7
2,3,1/30/2015,2015,1,201501,42834,1,588.50,6
3,4,1/30/2015,2015,1,201501,42835,9,567.66,14
4,5,1/30/2015,2015,1,201501,42839,14,231.31,2

In [50]:
compra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11539 entries, 0 to 11538
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdCompra       11539 non-null  int64
 1   Fecha          11539 non-null  object
 2   Fecha_Año      11539 non-null  int64
 3   Fecha_Mes      11539 non-null  int64
 4   Fecha_Periodo  11539 non-null  int64
 5   IdProducto     11539 non-null  int64
 6   Cantidad       11539 non-null  int64
 7   Precio         11172 non-null  float64
 8   IdProveedor    11539 non-null  int64
dtypes: float64(1), int64(7), object(1)
memory usage: 811.5+ KB

In [51]:
compra.isna().sum()

IdCompra           0
Fecha              0
Fecha_Año          0
Fecha_Mes          0
Fecha_Periodo      0
IdProducto         0
Cantidad           0
Precio           367
IdProveedor        0
dtype: int64

In [59]:
compra.describe()

,IdCompra,Fecha_Año,Fecha_Mes,Fecha_Periodo,IdProducto,Cantidad,Precio,IdProveedor
count,11539.000000,11539.000000,11539.000000,11539.000000,11539.000000,11539.000000,1.117200e+04,11539.000000
mean,5770.000000,2017.671549,4.570500,201771.725366,42900.634890,8.826415,3.613647e+03,7.533928
std,3331.166713,1.770288,3.168731,177.830326,83.539532,6.412074,1.006630e+05,3.770609
min,1.000000,2015.000000,1.000000,201501.000000,42737.000000,1.000000,1.860000e+00,1.000000
25%,2885.500000,2016.000000,1.000000,201605.000000,42832.000000,4.000000,3.068300e+02,4.000000
50%,5770.000000,2018.000000,4.000000,201801.000000,42902.000000,7.000000,4.634850e+02,8.000000
75%,8654.500000,2019.000000,7.000000,201908.000000,42973.000000,12.000000,1.260322e+03,11.000000
max,11539.000000,2020.000000,12.000000,202012.000000,43043.000000,54.000000,1.044580e+07,14.000000

In [53]:
compra.nunique()

IdCompra         11539
Fecha               72
Fecha_Año            6
Fecha_Mes           12
Fecha_Periodo       57
IdProducto         283
Cantidad            49
Precio           10642
IdProveedor         14
dtype: int64

In [5]:
diccionario_compra = {
    'Columna_1' : {
        'Título': 'IdCompra',
        'Descripción': 'Índice asociado a la factura.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguno'
    },
    'Columna_2' : {
        'Título': 'Fecha',
        'Descripción': 'Fecha en la que se realizó la factura.',
        'Tipo de dato': 'Date',
        'Problemas': 'Fecha en formato distinto a las tablas "Gasto" y "Venta".',
        'Soluciones': 'Formatear las fechas como en las otras tablas.'
    },
    'Columna_3' : {
        'Título': 'Fecha_Año',
        'Descripción': 'Año en el que se realizó la factura.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Redundante con la columna Fecha.',
        'Soluciones': 'Dropear la columna para que quede acorde con "Venta" y "Gasto".'
    },
    'Columna_4' : {
        'Título': 'Fecha_Mes',
        'Descripción': 'Número del mes en el que se realizó la factura.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Redundante con la columna Fecha.',
        'Soluciones': 'Dropear la columna para que quede acorde con "Venta" y "Gasto".'
    },
    'Columna_5' : {
        'Título': 'Fecha_Periodo',
        'Descripción': 'Código del período en el que se realizó la factura.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Redundante con la columna Fecha.',
        'Soluciones': 'Dropear la columna para que quede acorde con "Venta" y "Gasto".'
    },
    'Columna_6' : {
        'Título': 'IdProducto',
        'Descripción': 'Índice del producto facturado.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Columna irrelevante ya que no tengo la tabla "Producto" para referirla.',
        'Soluciones': 'Dropear la columna ya que esta no es relevante en esta ocasión.'
    },
    'Columna_7' : {
        'Título': 'Cantidad',
        'Descripción': 'Número de productos facturados.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Algunos outliers.',
        'Soluciones': 'Detectar y marcar los outliers.'
    },
    'Columna_8' : {
        'Título': 'Precio',
        'Descripción': 'Valor unitario del producto.',
        'Tipo de dato': 'Decimal',
        'Problemas': '367 valores nulos. Algunos outliers.',
        'Soluciones': 'Imputar los valores nulos con 0.0. Detectar y marcar los outliers.'
    },
    'Columna_9' : {
        'Título': 'IdProveedor',
        'Descripción': 'Índice del proveedor del producto.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Aparentemente ninguno.',
        'Soluciones': 'Ninguna.'
    }
}

In [66]:
gasto = pd.read_csv('./Datasets/Gasto.csv', sep=',')
gasto.tail()

      IdGasto  IdSucursal  IdTipoGasto       Fecha    Monto
8635     8636          23            4  2020-12-01  1180.27
8636     8637          24            1  2020-12-01  1152.15
8637     8638          24            2  2020-12-01   305.98
8638     8639          24            3  2020-12-01   104.32
8639     8640          24            4  2020-12-01  1156.31

In [60]:
gasto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8640 entries, 0 to 8639
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IdGasto      8640 non-null   int64
 1   IdSucursal   8640 non-null   int64
 2   IdTipoGasto  8640 non-null   int64
 3   Fecha        8640 non-null   object
 4   Monto        8640 non-null   float64
dtypes: float64(1), int64(3), object(1)
memory usage: 337.6+ KB

In [61]:
gasto.describe()

           IdGasto   IdSucursal  IdTipoGasto        Monto
count  8640.000000  8640.000000  8640.000000  8640.000000
mean   4320.500000    15.600000     2.500000   659.919324
std    2494.297496     8.815649     1.118099   448.630839
min       1.000000     1.000000     1.000000   100.000000
25%    2160.750000     8.000000     1.750000   255.022500
50%    4320.500000    15.500000     2.500000   679.990000
75%    6480.250000    23.000000     3.250000  1100.522500
max    8640.000000    31.000000     4.000000  1199.880000

In [62]:
gasto.isna().sum()

IdGasto        0
IdSucursal     0
IdTipoGasto    0
Fecha          0
Monto          0
dtype: int64

In [63]:
gasto.nunique()

IdGasto        8640
IdSucursal       30
IdTipoGasto       4
Fecha            72
Monto          7033
dtype: int64

In [7]:
diccionario_gasto = {
    'Columna_1' : {
        'Título': 'IdGasto',
        'Descripción': 'Índice asociado al gasto.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_2' : {
        'Título': 'IdSucursal',
        'Descripción': 'Índice de la sucursal en la que se realizó el gasto.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_3' : {
        'Título': 'IdTipoGasto',
        'Descripción': 'Índice del tipo de gasto realizado.',
        'Tipo de dato': 'Integer',
        'Problemas': 'No tengo la tabla "TipoGasto" para referenciarla.',
        'Soluciones': 'Dropear la columna ya que el dato es irrelevante en su forma actual.'
    },
    'Columna_4' : {
        'Título': 'Fecha',
        'Descripción': 'Fecha en la que se realizó el gasto.',
        'Tipo de dato': 'Date',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_5' : {
        'Título': 'Monto',
        'Descripción': 'Importe correspondiente.',
        'Tipo de dato': 'Decimal',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    }
}

In [67]:
localidad = pd.read_csv('./Datasets/Localidades.csv', sep=',')
localidad.head()

,categoria,centroide_lat,centroide_lon,departamento_id,departamento_nombre,fuente,id,localidad_censal_id,localidad_censal_nombre,municipio_id,municipio_nombre,nombre,provincia_id,provincia_nombre
0,Localidad simple,-35.033073,-60.280620,6021.0,Alberti,INDEC,6021010000,6021010,Alberti,60021.0,Alberti,ALBERTI,6,Buenos Aires
1,Localidad simple,-34.868119,-60.393971,6021.0,Alberti,INDEC,6021020000,6021020,Coronel Seguí,60021.0,Alberti,CORONEL SEGUI,6,Buenos Aires
2,Componente de localidad compuesta,-35.068014,-60.402597,6021.0,Alberti,INDEC,6021030000,6021030,Mechita,60021.0,Alberti,MECHITA,6,Buenos Aires
3,Localidad simple,-35.124382,-60.220061,6021.0,Alberti,INDEC,6021040000,6021040,Pla,60021.0,Alberti,PLA,6,Buenos Aires
4,Localidad simple,-35.109618,-60.070551,6021.0,Alberti,INDEC,6021050000,6021050,Villa Grisolía,60021.0,Alberti,VILLA GRISOLIA,6,Buenos Aires

In [9]:
# Tabla maestro de localidad, contiene algunos campos irrelevantes a nuesto estudio.
diccionario_localidad = {
    'Columna_1' : {
        'Título': 'categoría',
        'Descripción': 'Tipos posibles de localidad.',
        'Tipo de dato': 'String'
    },
    'Columna_2' : {
        'Título': 'centroide_lat',
        'Descripción': 'Coordenadas de latitud correspondientes.',
        'Tipo de dato': 'Decimal'
    },
    'Columna_3' : {
        'Título': 'centroide_lon',
        'Descripción': 'Coordenadas de longitud correspondientes.',
        'Tipo de dato': 'Decimal'
    },
    'Columna_4' : {
        'Título': 'departamento_id',
        'Descripción': 'Índice correspondiente al departamento del que hace parte.',
        'Tipo de dato': 'Decimal'
    },
    'Columna_5' : {
        'Título': 'departamento_nombre',
        'Descripción': 'Nombre del departamento del que hace parte.',
        'Tipo de dato': 'String'
    },
    'Columna_6' : {
        'Título': 'fuente',
        'Descripción': 'Procedencia del dato.',
        'Tipo de dato': 'String'
    },
    'Columna_7' : {
        'Título': 'id',
        'Descripción': 'Índice correspondiente a la localidad.',
        'Tipo de dato': 'Integer'
    },
    'Columna_8' : {
        'Título': 'localidad_censal_id',
        'Descripción': 'Índice correspondiente a la localidad cuando esta última es definida por parámetros censales.',
        'Tipo de dato': 'Integer'
    },
    'Columna_9' : {
        'Título': 'localidad_censal_nombre',
        'Descripción': 'Nombre correspondiente a la localidad cuando esta última es definida por parámetros censales.',
        'Tipo de dato': 'String'
    },
    'Columna_10' : {
        'Título': 'municipio_id',
        'Descripción': 'Índice correspondiente al municipio del que hace parte.',
        'Tipo de dato': 'Decimal'
    },
    'Columna_11' : {
        'Título': 'municipio_nombre',
        'Descripción': 'Nombre correspondiente al municipio del que hace parte.',
        'Tipo de dato': 'String'
    },
    'Columna_12' : {
        'Título': 'nombre',
        'Descripción': 'Nomenclatura de la localidad.',
        'Tipo de dato': 'String'
    },
    'Columna_13' : {
        'Título': 'provincia_id',
        'Descripción': 'Índice correspondiente a la provincia de la hace parte.',
        'Tipo de dato': 'Integer'
    },
    'Columna_14' : {
        'Título': 'provincia_nombre',
        'Descripción': 'Nombre correspondiente a la provincia del que hace parte.',
        'Tipo de dato': 'String'
    }
}

In [69]:
proveedor = pd.read_csv('./Datasets/Proveedores.csv', sep=',', encoding='latin-1')
proveedor

,IDProveedor,Nombre,Address,City,State,Country,departamen
0,1,NaN,BEREGUESTEIN 36,AVELLANEDA,BUENOS AIRES,ARGENTINA,AVELLANEDA
1,2,San Cirano,ALBERTI 965,CORONEL BRANDSEN,BUENOS AIRES,ARGENTINA,BRANDSEN
2,3,Bell S.A.,MORENO 331,CAMPANA,BUENOS AIRES,ARGENTINA,CAMPANA
3,4,Rivero Insumos,PTE. PERON 3872,VALENTIN ALSINA,BUENOS AIRES,ARGENTINA,LANUS
4,5,Laprida Computacion,AVDA. PEDRO PEREYRA 1339,LAPRIDA,BUENOS AIRES,ARGENTINA,LAPRIDA
5,6,Importadora Mann Kloss,LOPE DE VEGA 2102,BOCA DE ATENCION MONTE CASTRO,CABA,ARGENTINA,COMUNA 10
6,7,Fletes y Logistica,SANTA ROSA 1564,CORDOBA,CORDOBA,ARGENTINA,CAPITAL
7,8,NaN,SANTA ROSA 1564,CORDOBA,CORDOBA,ARGENTINA,CAPITAL
8,9,Via Chile Containers,JUAN B. JUSTO 415,MENDOZA,MENDOZA,ARGENTINA,CAPITAL
9,10,Full Toner,CORDOBA 246,MENDOZA,MENDOZA,ARGENTINA,CAPITAL
10,11,Via Chile Containers,VICEALTE O CONNOR 847,SAN CARLOS DE BARILOCHE,RIO NEGRO,ARGENTINA,BARILOCHE
11,12,Central Rosario SRL,SAN MARTIN 4816,ROSARIO,SANTA FE,ARGENTINA,ROSARIO
12,13,María Rivarola,SANTIAGO DEL ESTERO 1020,SAN MIGUEL DE TUCUMAN,TUCUMAN,ARGENTINA,CAPITAL
13,14,Río Full Net,BELGRANO 244,MONTEROS,TUCUMAN,ARGENTINA,MONTEROS

In [11]:
diccionario_proveedor = {
    'Columna_1' : {
        'Título': 'IDProveedor',
        'Descripción': 'Índice asociado al proveedor.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_2' : {
        'Título': 'Nombre',
        'Descripción': 'Nombre de la empresa.',
        'Tipo de dato': 'String',
        'Problemas': '2 campos nulos.',
        'Soluciones': 'Imputar los valores faltantes por "Sin dato".'
    },
    'Columna_3' : {
        'Título': 'Address',
        'Descripción': 'Dirección de la sucursal.',
        'Tipo de dato': 'String',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_4' : {
        'Título': 'City',
        'Descripción': 'Nombre de la ciudad en la que se encuentra.',
        'Tipo de dato': 'String',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_5' : {
        'Título': 'State',
        'Descripción': 'Nombre de la provincia en la que se encuentra.',
        'Tipo de dato': 'String',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_6' : {
        'Título': 'Country',
        'Descripción': 'Nombre del país en el que se encuentra.',
        'Tipo de dato': 'String',
        'Problemas': 'Sólo hay un valor para todos los registros.',
        'Soluciones': 'Dropear la columna ya que nuestro estudio abarca solo 1 país.'
    },
    'Columna_7' : {
        'Título': 'departamen',
        'Descripción': 'Nombre del departamento en el que se encuentra.',
        'Tipo de dato': 'String',
        'Problemas': 'Columna irrelevante para nuestro estudio, con localidad y provincia tengo suficiente.',
        'Soluciones': 'Dropear columna.'
    }
}

In [71]:
sucursal = pd.read_csv('./Datasets/Sucursales.csv', sep=';')
sucursal

,ID,Sucursal,Direccion,Localidad,Provincia,Latitud,Longitud
0,1,Cabildo,Av. Cabildo 1342,Ciudad de Buenos Aires,Ciudad de Buenos Aires,"-34,5678060","-58,4495720"
1,2,Palermo 1,Guatemala 5701,CABA,CABA,"-34,5790350","-58,4335660"
2,3,Palermo 2,Gral. Lucio Norberto Mansilla 2668,CABA,C deBuenos Aires,"-34,5959660","-58,4051500"
3,4,Corrientes,Av. Corrientes 2352,Ciudad de Buenos Aires,Bs As,"-34,6046850","-58,3987640"
4,5,Almagro,Venezuela 3650,Capital,Bs.As.,"-34,6173080","-58,4161790"
5,6,Caballito,Av. Rivadavia 4708,Capital Federal,Ciudad de Buenos Aires,"-34,6163030","-58,4318490"
6,7,Flores,Av. Rivadavia 5746,CapFed,Buenos Aires,"-34,6228680","-58,4464490"
7,8,Alberdi,Av. Juan Bautista Alberdi 1634,Cap. Fed.,Buenos Aires,"-34,6273060","-58,4514980"
8,9,Deposito,Pedernera 530,Cap. Federal,Buenos Aires,"-34,6351340","-58,4615130"
9,10,Velez,Av. Juan Bautista Justo 7738,Cdad de Buenos Aires,Ciudad de Buenos Aires,"-34,6312570","-58,4980630"
10,11,Vicente Lopez,Av. Maipú 829,Vicente López,Buenos Aires,"-34,5301030","-58,4800660"
11,12,San Isidro,Av. Sta Fe 2552,Martínez,B. Aires,"-34,4944020","-58,4979510"
12,13,Caseros,Justo José de Urquiza 4770,Caseros,B.Aires,"-34,6059480","-58,5633190"
13,14,Moron,Salta 250,Moron,Buenos Aires,"-34,6458960","-58,6211490"
14,15,Castelar,Sta Rosa 1845,Castelar,Provincia de Buenos Aires,"-34,6393040","-58,6556710"
15,16,San Justo,Av. Dr. Ignacio Arieta 3451,San Justo,Buenos Aires,"-34,6813890","-58,5569190"
16,17,Lanus,Pres. Tte. Gral. Juan Domingo Perón 3270,Lanus,Prov de Bs As.,"-34,6698050","-58,4113120"
17,18,Avellaneda,Av. Bartolomé Mitre 612,Avellaneda,Buenos Aires,"-34,6610600","-58,3665150"
18,19,Quilmes,Peatonal Rivadavia 185,Quilmes,Pcia Bs AS,"-34,7222530","-58,2575760"
19,20,La Plata,Calle 48 974,La Plata,Pcia Bs AS,"-34,9207770","-57,9588890"
20,21,MDQ1,San Martín 2544,Mar del Plata,Buenos Aires,"-37,9996910","-57,5463900"
21,22,MDQ2,Belgrano 2847,Mar del Plata,Buenos Aires,"-37,9997630","-57,5505770"
22,23,Rosario1,Av. Pellegrini 1138,Rosario,Santa Fe,"-32,9570300","-60,6413540"
23,24,Rosario2,Rueda 6349,Rosario,Santa Fe,"-32,9627480","-60,7076290"
24,25,Córdoba Centro,Av Colón 251,Córdoba,Córdoba,"-31,4127470","-64,1864580"
25,26,Córdoba Quiroz,Av Duarte Quirós 2910,Coroba,Córdoba,"-31,4075380","-64,2217380"
26,27,Cerro de las Rosas,Av. Rafael Núñez 4764,Cordoba,Cordoba,"-31,3612540","-64,2378170"
27,28,Tucumán,Av. Sarmiento 525,San Miguel de Tucumán,Tucumán,"-26,8180450","-65,2040710"
28,29,Mendoza1,Gutiérrez 349,Mendoza,Mendoza,"-32,8875310","-68,8433080"
29,30,Mendoza2,Av. Colón 255,Mendoza,Mendoza,"-32,8942920","-68,8438020"
30,31,Bariloche,Mitre 252,San Carlos de Bariloche,Río Negro,"-41,1338280","-71,3063650"

In [13]:
diccionario_sucursal = {
    'Columna_1' : {
        'Título': 'ID',
        'Descripción': 'Índice asociado a la sucursal.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_2' : {
        'Título': 'Sucursal',
        'Descripción': 'Nombre de la sucursal.',
        'Tipo de dato': 'String',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_3' : {
        'Título': 'Direccion',
        'Descripción': 'Dirección en la que se localiza la sucursal.',
        'Tipo de dato': 'String',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_4' : {
        'Título': 'Localidad',
        'Descripción': 'Nombre de la localidad en la que se encuentra.',
        'Tipo de dato': 'String',
        'Problemas': 'Algunos campos están sin normalizar.',
        'Soluciones': 'Normalizar dichos campos.'
    },
    'Columna_5' : {
        'Título': 'Provincia',
        'Descripción': 'Nombre de la provincia en la que se encuentra.',
        'Tipo de dato': 'String',
        'Problemas': 'Algunos campos están sin normalizar.',
        'Soluciones': 'Normalizar dichos campos.'
    },
    'Columna_6' : {
        'Título': 'Latitud',
        'Descripción': 'Coordenadas de latitud correspondientes.',
        'Tipo de dato': 'Decimal',
        'Problemas': 'Representación del punto decimal con coma.',
        'Soluciones': 'Transformar la representación del punto decimal.'
    },
    'Columna_7' : {
        'Título': 'Longitud',
        'Descripción': 'Coordenadas de longitud correspondientes.',
        'Tipo de dato': 'Decimal',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna',
        'Problemas': 'Representación del punto decimal con coma.',
        'Soluciones': 'Transformar la representación del punto decimal.'
    }
}

In [14]:
venta = pd.read_csv('./Datasets/Venta.csv', sep=',')
venta.head()

,IdVenta,Fecha,Fecha_Entrega,IdCanal,IdCliente,IdSucursal,IdEmpleado,IdProducto,Precio,Cantidad
0,1,2018-03-09,2018-03-17,3,969,13,1674,42817,813.12,2.0
1,2,2018-12-28,2018-12-29,2,884,13,1674,42795,543.18,3.0
2,3,2016-03-28,2016-03-31,2,1722,13,1674,42837,430.32,1.0
3,4,2017-10-23,2017-10-24,3,2876,13,1674,42834,818.84,2.0
4,5,2017-11-22,2017-11-25,2,678,13,1674,42825,554.18,3.0

In [72]:
venta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46645 entries, 0 to 46644
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdVenta        46645 non-null  int64
 1   Fecha          46645 non-null  object
 2   Fecha_Entrega  46645 non-null  object
 3   IdCanal        46645 non-null  int64
 4   IdCliente      46645 non-null  int64
 5   IdSucursal     46645 non-null  int64
 6   IdEmpleado     46645 non-null  int64
 7   IdProducto     46645 non-null  int64
 8   Precio         45721 non-null  float64
 9   Cantidad       45753 non-null  float64
dtypes: float64(2), int64(6), object(2)
memory usage: 3.6+ MB

In [73]:
venta.isna().sum()

IdVenta            0
Fecha              0
Fecha_Entrega      0
IdCanal            0
IdCliente          0
IdSucursal         0
IdEmpleado         0
IdProducto         0
Precio           924
Cantidad         892
dtype: int64

In [74]:
venta.describe()

,IdVenta,IdCanal,IdCliente,IdSucursal,IdEmpleado,IdProducto,Precio,Cantidad
count,46645.000000,46645.000000,46645.000000,46645.000000,46645.000000,46645.000000,4.572100e+04,45753.000000
mean,23398.589624,2.016958,1502.721514,14.781927,2488.720956,42901.305585,5.835634e+03,2.385395
std,13590.352830,0.743113,972.521043,8.878188,960.499762,83.563413,2.498016e+05,3.547991
min,1.000000,1.000000,1.000000,1.000000,1011.000000,42737.000000,3.000000e+00,1.000000
25%,11662.000000,1.000000,692.000000,7.000000,1574.000000,42833.000000,4.380000e+02,2.000000
50%,23323.000000,2.000000,1360.000000,15.000000,2468.000000,42902.000000,6.536200e+02,2.000000
75%,34984.000000,3.000000,2273.000000,23.000000,3433.000000,42974.000000,1.789000e+03,3.000000
max,48241.000000,3.000000,3407.000000,31.000000,3979.000000,43043.000000,3.373920e+07,300.000000

In [75]:
venta.nunique()

IdVenta          46645
Fecha             1872
Fecha_Entrega     2174
IdCanal              3
IdCliente         2969
IdSucursal          30
IdEmpleado         249
IdProducto         283
Precio             451
Cantidad             9
dtype: int64

In [76]:
diccionario_venta = {
    'Columna_1' : {
        'Título': 'IdVenta',
        'Descripción': 'Índice asociado a la factura.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Se saltea algunos registros.',
        'Soluciones': 'Dejar así ya que no afecta nuestro estudio y en un futuro los registros faltantes pueden ser agregados.'
    },
    'Columna_2' : {
        'Título': 'Fecha',
        'Descripción': 'Fecha en la que se efectuó la venta.',
        'Tipo de dato': 'Date',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_3' : {
        'Título': 'Fecha_Entrega',
        'Descripción': 'Fecha en la que se realizó la entrega del producto al cliente.',
        'Tipo de dato': 'Date',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_4' : {
        'Título': 'IdCanal',
        'Descripción': 'Índice correspondiente al canal en el que se realizó la venta.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Dato irrelevante ya que no tengo la tabla "Canal".',
        'Soluciones': 'Dropear la columna.'
    },
    'Columna_5' : {
        'Título': 'IdCliente',
        'Descripción': 'Índice correspondiente al cliente que realizó la orden.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_6' : {
        'Título': 'IdSucursal',
        'Descripción': 'Índice correspondiente a la sucursal en la que se realizó la venta.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Parecería que ninguno.',
        'Soluciones': 'Ninguna'
    },
    'Columna_7' : {
        'Título': 'IdEmpleado',
        'Descripción': 'Índice correspondiente al empleado que realizó la venta.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Dato irrelevante ya que no tengo la tabla "Empleado".',
        'Soluciones': 'Dropear la columna.'
    },
    'Columna_8' : {
        'Título': 'IdProducto',
        'Descripción': 'Índice correspondiente al producto vendido.',
        'Tipo de dato': 'Integer',
        'Problemas': 'Columna irrelevante ya que no tengo la tabla "Producto" para referirla.',
        'Soluciones': 'Dropear la columna ya que esta no es relevante en esta ocasión.'
    },
    'Columna_9' : {
        'Título': 'Precio',
        'Descripción': 'Valor unitario del producto vendido.',
        'Tipo de dato': 'Decimal',
        'Problemas': '924 nulos. Probablemente con presencia de outliers.',
        'Soluciones': 'Imputar los nulos por 0.0. Detectar y marcar outliers.'
    },
    'Columna_10' : {
        'Título': 'Cantidad',
        'Descripción': 'Número de productos vendidos.',
        'Tipo de dato': 'Decimal',
        'Problemas': '892 nulos. Probablemente con presencia de outliers.',
        'Soluciones': 'Imputar los nulos por 0.0. Detectar y marcar outliers.'
    }
}